<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="nature.payment.PaymentDto" alias="PaymentDto"/>
		<typeAlias type="nature.reservation.ReservationDto" alias="ReservationDto"/>
		<typeAlias type="nature.review.ReviewDto" alias="ReviewDto"/>
		<typeAlias type="nature.site.SiteDto" alias="SiteDto"/>
		<typeAlias type="nature.user.UserDto" alias="UserDto"/>
		<typeAlias type="nature.wish.WishDto" alias="WishDto"/>
		<typeAlias type="nature.mypage.MypageDto" alias="MypageDto"/>
		<typeAlias type="nature.plist.PListDto" alias="PListDto"/>
	</typeAliases>
</configuration>