<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three.js in Spring</title>
    <!-- Three.js 추가 -->
    <script type="module" src="/static/three.module.js"></script>
</head>
<script type="importmap">
	{
		"imports": {
			"three": "https://unpkg.com/three@0.155.0/build/three.module.js", 
			"three/addons/": "https://unpkg.com/three@0.155.0/examples/jsm/"
		}
	}
</script>
<body>

	<h1>Three.js in Spring </h1>
	<script type="module" src="/templates/threemain/main.js"></script>
</body>
</html>