<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nature.payment.PaymentDao">
	<insert id="insertPayment" parameterType="PaymentDto">
		insert into payments (reservation_num,user_num,merchant_uid,imp_uid,amount) values (#{reservation_num},#{user_num},#{merchant_uid},#{imp_uid},#{amount})
	</insert>
</mapper>
