<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nature.site.SiteDao">
	<select id="selectdetail" parameterType="Map" resultType="Map">
	    SELECT
    cd.*,
    COALESCE(
        TRIM(BOTH ' ' FROM (
            SELECT GROUP_CONCAT(DISTINCT cf.imageUrl SEPARATOR ', ') FROM camping_file cf WHERE cd.camping_contentId = cf.camping_contentId
        )),
        '' 
    ) AS imageUrl,
    (CASE WHEN #{userId} IS NOT NULL THEN (
        SELECT COUNT(*) FROM wish WHERE user_id = #{userId} AND camping_num = cd.camping_num
    ) ELSE null END) as iswished,
    (SELECT COUNT(*) FROM wish WHERE camping_num = cd.camping_num) as countwish
    FROM camping_details cd
    WHERE cd.camping_num = #{campingNum}
	</select>
	<select id="selectgetUser" parameterType="String" resultType="UserDto">
		select * from user where userid = #{userId}
	</select>
	<select id="countReservationByUsernum" parameterType="Map" resultType="int">
		select count(*) from reservation where user_num = #{userNum} AND camping_num = #{campingNum} 
	</select>
	<select id="countReviewByUserum" parameterType="Map" resultType="int">
		select count(*) from review where user_num = ${userNum} AND camping_num = #{campingNum}
	</select>
</mapper>
