<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nature.wish.WishDao">
	<insert id="insertWish" parameterType="WishDto">
		INSERT INTO wish (user_id, camping_num) VALUES (#{userId},#{campingNum})
	</insert>
	<delete id="deleteWish" parameterType="WishDto">
		DELETE FROM wish where user_id=#{userId} AND camping_num=#{campingNum}
	</delete>
	<update id="updateCount" parameterType="int">
		update count(iswished) from wish where camping_num = #{campingNum}
	</update>
</mapper>
